NODE_ENV=production

DB_TYPE=postgres
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=/

SENTRY_DSN=

ORDER_GRPC_HOST=order-service
ORDER_GRPC_PORT=5001

BILLING_GRPC_HOST=billing-service
BILLING_GRPC_PORT=5002

USER_GRPC_HOST=0.0.0.0
USER_GRPC_PORT=5003