NODE_ENV=

DB_TYPE=postgres
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=/

REDIS_HOST=
REDIS_PORT=

SUPABASE_JWT_SECRET=

SENTRY_DSN=

API_GATEWAY_PORT=3000

ORDER_GRPC_HOST=order-service
ORDER_GRPC_PORT=5001

BILLING_GRPC_HOST=billing-service
BILLING_GRPC_PORT=5002

USER_GRPC_HOST=user-service
USER_GRPC_PORT=5003

REVIEW_GRPC_HOST=review-service
REVIEW_GRPC_PORT=5003

MENU_GRPC_HOST=menu-service
MENU_GRPC_PORT=5004

# 3rd party API keys
AHAMOVE_API_KEY=string
AHAMOVE_SERVICE_ID=string
# This token will be expired in 1 year
# Follow this guide to get the token: https://developers.ahamove.com/docs/api-reference/account-apis/register-account
AHAMOVE_SYSTEM_TOKEN=string

# Webhook API keys
# I use openssl rand -hex 32 to generate this key
AHAMOVE_ORDER_EVENTS_API_KEY=

KEYCLOAK_BASE_URL=
KEYCLOAK_REALM=
KEYCLOAK_ADMIN_CLIENT_ID=
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_APPLICATION_CLIENT_ID=