NODE_ENV=development

# Database
DB_TYPE=postgres
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=/

# Redis
REDIS_HOST=
REDIS_PORT=

# Firebase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=

# Error tracing
SENTRY_DSN=

# Services
API_GATEWAY_PORT=3000

ORDER_GRPC_HOST=order-service
ORDER_GRPC_PORT=5001

BILLING_GRPC_HOST=billing-service
BILLING_GRPC_PORT=5002

USER_GRPC_HOST=user-service
USER_GRPC_PORT=5003

# 3rd party API keys
AHAMOVE_API_KEY=string
AHAMOVE_SERVICE_ID=string
# This token will be expired in 1 year
# Follow this guide to get the token: https://developers.ahamove.com/docs/api-reference/account-apis/register-account
AHAMOVE_SYSTEM_TOKEN=string

# Webhook API keys
# I use openssl rand -hex 32 to generate this key
AHAMOVE_ORDER_EVENTS_API_KEY=

# SENDGRID TEMPLATE ID
SENDGRID_ORDER_CREATE_TEMPLATE_ID=
SENDGRID_PARTNER_APPROVED_TEMPLATE_ID=
SENDGRID_PARTNER_CANCEL_TEMPLATE_ID=
SENDGRID_MAIL_INVOICE_TEMPLATE_ID=
SENDGRID_CUSTOMER_CANCEL_TEMPLATE_ID=
SENDGRID_ORDER_COMPLETED_TEMPLATE_ID=
SENDGRID_PAYMENT_FAILED_TEMPLATE_ID=
SENDGRID_PAY_NOT_COMPLETED_TEMPLATE_ID=
SENDGRID_REFUND_COMPLETED_TEMPLATE_ID=
SENDGRID_VNPAY_REFUND_COMPLETED_TEMPLATE_ID=
