NODE_ENV=

DB_TYPE=postgres
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=/

SUPABASE_JWT_SECRET=

SENTRY_DSN=

API_GATEWAY_PORT=3000

ORDER_GRPC_HOST=order-service
ORDER_GRPC_PORT=5001

BILLING_GRPC_HOST=billing-service
BILLING_GRPC_PORT=5002

USER_GRPC_HOST=user-service
USER_GRPC_PORT=5003